@import 'basscss';
@import "./basscss-adjustments.css";
@import "./icons.css";

:root {
    --font-family: 'Source Sans Pro';
    --border-color: var(--lighter-gray);
    --border-width: 2px;
    --border-radius: 2px;
}

/*! app.css */

body {
    height: 100%;
    background: #AAA;
    font-weight: bold;
    transition: background-color 0.5s ease-in;
}

.button-app {
    color: var(--lighter-gray);
    background: transparent;
}

.button-app:hover {
    background: var(--lighter-gray);
    color: var(--mid-gray);
}

.checkbox-app + label {
    height: 1.5em;
    width: 1.5em;
    box-sizing: border-box;
    background: var(--lighter-gray);
    color: transparent;
}

.checkbox-app:checked + label {
    background: var(--lighter-gray) !important;
    color: var(--mid-gray);
}
