@custom-media --breakpoint-mobile (width < 40rem);

@custom-media --breakpoint-desktop (width >= 40rem);

:root {
  --box-sizing: border-box;

  --spacing-0: 0;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;

  --max-width: 50rem;

  --font-size-1: 5.0625rem;
  --font-size-2: 3.375rem;
  --font-size-3: 2.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1rem;
  --font-size-6: 0.8rem;

  --border-width: 3px;
  --border-radius: 3px;

  --black: hsl(0, 0%, 5%);
  --dark-gray: hsl(0, 0%, 35%);
  --medium-gray: hsl(0, 0%, 50%);
  --light-gray: hsl(0, 0%, 65%);
  --white: hsl(0, 0%, 95%);
}
