buttons: [
  {
    interval: 25
    message: 'Take a break!'
    text: 'Work'
  }
  {
    interval: 5
    message: 'Back to work!'
    text: 'Break'
  }
  {
    interval: 0
    message: 'Cancelled'
    text: 'Reset'
  }
]
author: 'Erick Merchant'
year: '2015'
