%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  border: 2px solid $base-border-color;
  color: white;
  display: block;
  width: 100%;
  // font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }
}

@include breakpoint(large-screen-up) {

  %button {
      display: inline-block;
      margin-right: 1em;
      width: auto;

      &:last-child {
          margin-right: 0;
      }
  }
}

%button-disabled {

  background-color: $disabled-button-color;
  cursor: not-allowed;

  &:hover {
    background-color: $disabled-button-color;
  }
}

%clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

%semi-bold {
    font-weight: 600;
}
