@import "normalize";
// @import "print";

@import "base";

@import "geomicons";

/*! app.css */

* {
    box-sizing: border-box;
}

%center {
    margin: 0 auto;
    max-width: $medium-screen;
    text-align: center;
}

body {
    height: 100%;
    background: $base-background-color;
}

header {
    @extend %center;
}

main {
    margin-top: 2em;
    padding: 0 1em;

    @extend %clearfix;
    @extend %center;
}

footer {
    margin-top: 2em;
    @extend %center;
}

button {
    margin-top: 1em;
}

.links {
    display: inline-block;
}

.logo-credit {
    font-size: .5em;
}

.color-fields {

    @extend %center;

    margin-top: 2em;

    label {

        display: inline-block;
        height: 2em;
        width: 2em;
        border: 2px solid $base-font-color;
        border-radius: $base-border-radius;
        margin: .5em;
        padding: .4em;
        color: $base-font-color;
        font-size: 1em;

        .geomicon {
            display: none;
        }
    }

    input {
        display: none;
    }

    input:checked + label {

        .geomicon {
            display: block;
        }
    }
}
