@import "normalize";
// @import "print";

@import "base";

@import "geomicons";

/*! site.css */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: $base-background-color;

    > * {
        margin: 0 auto;
        max-width: $medium-screen;
        text-align: center;
        padding: 0 1em;

        @extend %clearfix;
    }
}

footer {
    margin-top: 2em;
}

button {
    margin-top: 1em;
}

.links {
    display: inline-block;
}

.logo {

    margin-top: 1em;

    svg {
        height: 2em;
        width: 2em;
        fill: $base-accent-color;
        stroke: #fff;
        vertical-align: -.5em;
        transform: rotate(-32.5deg)
    }
}

.logo-credit {
    font-size: .5em;
}
