@import 'basscss';
@import "./basscss-adjustments.css";
@import "./icons.css";

:root {
    --container-width: 25em;
    --font-family: 'Source Sans Pro';
    --border-color: var(--lighter-gray);
    --border-width: 2px;
    --border-radius: 2px;
}

/*! app.css */

body {
    height: 100%;
    background: #AAA;
    font-weight: bold;
    transition: background-color 0.5s ease-in;
}

.button-light-gray-outline {
    color: var(--lighter-gray);
    background: transparent;
}

.button-light-gray-outline:hover {
    background: var(--lighter-gray);
    color: var(--light-gray);
}

.is-checked-square {
    visibility: hidden;
    display: block;
    height: 1em;
    width: 1em;
    background: var(--lighter-gray);
}

.checkbox:checked + label .is-checked-square {
    visibility: visible;
}
