@import 'basscss';
@import "./basscss-adjustments.css";
@import "./icons.css";

:root {
    --font-family: 'Source Sans Pro';
    --border-color: var(--lighter-gray);
    --border-width: 2px;
    --border-radius: 2px;
}

/*! app.css */

body {
    transition: background-color 0.5s ease-in;
}

.button {
    color: var(--lighter-gray);
    margin: var(--space-1) auto 0 auto;
    display: block;
    width: 90%;
    background: transparent;
}

.button:hover {
    background: var(--lighter-gray);
    color: var(--light-gray);
}

@media (--breakpoint-sm) {

    .button {
        margin: var(--space-1);
        display: inline-block;
        width: auto;
    }
}

.square {
    visibility: hidden;
    display: block;
    height: 1em;
    width: 1em;
    background: var(--lighter-gray);
}

.checkbox:checked + label .square {
    visibility: visible;
}
