.button-dark-gray-outline {
    inherit: .button-blue-outline;

    border-color: var(--dark-gray);
    color: var(--dark-gray);
}

.button-dark-gray-outline:hover {
    background: var(--dark-gray);
}
