{% import 'macros/geomicons.html' as geomicons %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>00:00</title>
        <link href="./app.css" type="text/css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700' rel='stylesheet' type='text/css'>
        <link href="./favicon.png" rel="shortcut icon" type="image/png" id="favicon">
    </head>
    <body>
        <form class="lighter-gray container center mt2 px1">
            <h1><output name="output">00:00</output></h1>
            <fieldset class="clearfix mx-auto sm-col-8">
                {% for text, data in controls %}
                    <div class="sm-col sm-col-6 p1">
                        <button class="button-app full-width button h3 rounded border" type="button" data-interval="{{ data.interval }}" data-message="{{ data.message }}">{{ text }}</button>
                    </div>
                {% endfor %}
            </fieldset>
            <fieldset class="clearfix container center mt2 h3">
                <legend class="full-width">Theme:</legend>
                {% for color in colors %}
                    <input {% if loop.first %}checked {% endif %}name="color" type="radio" value="{{ color }}" id="color-field-{{ loop.index }}" class="hide checkbox-app">
                    <label for="color-field-{{ loop.index }}" style="background-color: {{ color }}" class="border rounded inline-block m1">{{ geomicons.icon('check') }}</label>
                {% endfor %}
            </fieldset>
        </form>
        <footer class="lighter-gray center mt2 px1">
            <p>
                Built by Erick Merchant
                <span class="ml1 inline-block">
                    <a class="button button-narrow button-nav-light lighter-gray" href="http://erickmerchant.com/">{{ geomicons.icon('home') }}</a>
                    <a class="button button-narrow button-nav-light lighter-gray" href="http://twitter.com/erickmerchant/">{{ geomicons.icon('twitter') }}</a>
                    <a class="button button-narrow button-nav-light lighter-gray" href="http://github.com/erickmerchant/">{{ geomicons.icon('github') }}</a>
                </span>
            </p>
        </footer>
        <script async src="./app.js"></script>
    </body>
</html>
